{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" >Raza</th>
        <th scope="col" >Código</th>
        <th scope="col" >Fecha de Nacimiento</th>
        <th scope="col" >Grupo Destino</th>
        <th scope="col" >Sexo</th>
        <th scope="col" >Estado</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for r in object_list %}
        <tr>
            <td>{{ r.raza }}</td>
            <td>{{ r.id_Animal }}</td>
            <td>{{ r.fecha_nacimineto }}</td>
            <td>{{ r.grupo_destino }}</td>
            <td>{{ r.sexo }}</td>
            <td>{{ r.estado }}</td>
            <td>
                <button type="button" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}