{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" >Id</th>
        <th scope="col" >Nombre</th>
        <th scope="col" >Cantidad Actual</th>
        <th scope="col" >Cantidad Ideal</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for r in object_list %}
        <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.nombre }}</td>
            <td>{{ r.cantidad_actual }}</td>
            <td>{{ r.cantidad_ideal }}</td>
            <td>
                <button type="button" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}