{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" >Id Medida</th>
        <th scope="col" >Id Animal</th>
        <th scope="col" >Peso en Kg</th>
        <th scope="col" >Altura en cm</th>
        <th scope="col" >Fecha</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for r in object_list %}
        <tr>
            <td>{{ r.id_medida }}</td>
            <td>{{ r.id_Animal }}</td>
            <td>{{ r.pesokg }}</td>
            <td>{{ r.alturacm }}</td>
            <td>{{ r.fecha }}</td>
            <td>
                <button type="button" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}