{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" >Id Tratamiento</th>
        <th scope="col" >Nombre</th>
        <th scope="col" >Tipo</th>
        <th scope="col" >Fecha de Inicio</th>
        <th scope="col" >Periodicidad</th>
        <th scope="col" >Estado</th>
        <th scope="col" >Observación</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for r in object_list %}
        <tr>
            <td>{{ r.id_tprev }}</td>
            <td>{{ r.nombre }}</td>
            <td>{{ r.id_tipoTPrev }}</td>
            <td>{{ r.fecha_inicio }}</td>
            <td>{{ r.periodicidad }}</td>
            <td>{{ r.estado }}</td>
            <td>{{ r.observacion }}</td>
            <td>
                <button type="button" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}