{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" >Id Lote</th>
        <th scope="col" >Id Comprador</th>
        <th scope="col" >Fecha de Envío</th>
        <th scope="col" >Fecha de Confirmación</th>
        <th scope="col" >Estado</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for r in object_list %}
        <tr>
            <td>{{ r.id_lote }}</td>
            <td>{{ r.id_comprador }}</td>
            <td>{{ r.fecha_envio }}</td>
            <td>{{ r.fecha_confirmacion }}</td>
            <td>{{ r.estado }}</td>
            <td>
                <button type="button" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}