{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" >Nro</th>
        <th scope="col" >Fecha</th>
        <th scope="col" >Resultado</th>
        <th scope="col" >Descripción</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for r in object_list %}
        <tr>
            <td>{{ r.id_vientre }}</td>
            <td>{{ r.fecha }}</td>
            <td>{{ r.resultado }}</td>
            <td>{{ r.observacion }}</td>
            <td>
                <button type="button" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}