{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" >Id Aplicación</th>
        <th scope="col" >Id Animal</th>
        <th scope="col" >Tratamiento</th>
        <th scope="col" >Fecha de Aplicación</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for r in object_list %}
        <tr>
            <td>{{ r.id_aplicacion }}</td>
            <td>{{ r.id_Animal }}</td>
            <td>{{ r.tpreventivo }}</td>
            <td>{{ r.fecha_aplicacion }}</td>
            <td>
                <button type="button" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}