{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" >Id Compra</th>
        <th scope="col" >Id Articulo</th>
        <th scope="col" >Cantidad</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for r in object_list %}
        <tr>
            <td>{{ r.id_compra }}</td>
            <td>{{ r.id_articulo }}</td>
            <td>{{ r.cantidad }}</td>
            <td>
                <button type="button" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}